html
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #333333;
    margin: 0;
    padding: 0;
    text-align: center;
}

body
{
    margin: 0;
    padding: 0;
}

h1
{
    margin: 0;
    padding: 0;
}

header
{
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;

    /*Erstellt eine kleine Trennung zwischen Header und nav - danach kommt nav deswegen*/
    border-bottom: 1px solid black;
}

nav
{
    background-color: #E0E0E0;
}

ul
{
    /*Enfernt die Punkte for dem List item*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li
{
    /*Listet die List item in einer Reihe*/
    display: inline;

    /*Abstand zum nächsten List Item - rechts*/
    margin-right: 20px;
}

a
{
    text-decoration: none;
    padding: 0;
    margin: 0;
}

a:visited
{
    color: black;
}

div
{
    background-color: #E0E0E0;

    /*Center a div*/
    width: 50%;
    margin: auto;
}

div p 
{
    text-align: justify;
    padding-left: 10px;
}

ol li
{
   text-align: justify;
   display: block;
   margin-bottom: 10px;
}